h1{
    color:rgb(0, 122, 10);
    font-size:50px;
    text-align: center;
}
h2{
    color:rgb(13, 116, 0);
    text-align: center;
}
h3{
    color:aliceblue
}
body{
    background-image: url("https://media.tenor.com/6_6w6bLgnC4AAAAM/paulinho-palmeiras-palmeiras-3-a-0-flamengo.gif");
        text-align: center;
}
img{
    width: 200px;
}
footer{
    color: rgb(0, 109, 42);
}
.imagem{
    text-align: center;
    background-color: rgba(2, 70, 0, 0.925);
    width: 300px;
    margin: auto;
    border-style: dashed;
    border-radius: 50px;
    margin-bottom: 50px;
    border-color: aliceblue;
}

