h1{
    color:rgb(9, 52, 243);
    font-size:50px;
    text-align: center;
}
h2{
    color:rgb(240, 134, 6);
    text-align: center;
}
body{
    background-image: url("https://i.pinimg.com/originals/4c/11/48/4c1148dfc5be8062bc99749a4435e2a3.gif");
}
img{
    width: 300px;
}
footer{
    color: rgb(245, 136, 4);
}
.imagem{
    text-align: center;
    background-color: blue;
}
    
